/* color: #5f9341 */

body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 25rem;
}

input {
  padding: 0.5rem 0.9rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #5f9341;
}

button {
  color: white;
  background-color: #5f9341;
  border: none;
  font-weight: bold;
  font-size: larger;
  margin-top: 0.5rem;
  padding: 0.5rem 0.9rem;
  border-radius: 0.2rem;
}

button:hover {
  cursor: pointer;
}

#delete-all-btn {
  color: #5f9341;
  background-color: white;
  border: solid 1px #5f9341;
}

#box {
  background-color: rgb(32, 99, 99);

  padding: 3rem 2rem;
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  color: white;
}

ul {
  list-style: none;
  padding-left: 0%;
}

li {
  font-size: large;
  padding-bottom: 0.3rem;
}

li a {
  color: #5f9341;
}
